body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  padding: 0px 16px;
}

a {
  text-decoration: none;
  color: white;
  margin: 16px 0px;
  font-size: 24px;
}

li {
  margin: 8px 0px;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  font-weight: 900;
  font-size: 32px;
  display:flex;
  padding: 0px 16px;
  justify-content: flex-start;
  align-items: center;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contain {
  display:flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: 1;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  min-width: 300px;
}

.cardsystem {
  display:flex;
  padding: 48px;
  flex-wrap: wrap;
  flex-direction: row;
  flex-grow: 1;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  display:flex;
  margin: 24px;
  flex-flow: column wrap;
  flex-grow: 1;
  flex-basis: 250px;
  padding: 8px;
}