body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 1px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 10px;
  margin: 20px 10px 10px 10px;
}

.content {
  background: #e3f4ff;
  font-size: 15px;
  padding: 15px 10px;
  margin: 10px;
}

.button-container {
  background: #e3f4ff;
  margin: 10px;
  text-align:center;
  padding: 10px;
}

button {
  display:block;
  background: white;
  border: 1px solid #eee;
  margin: 0px auto;
  padding: 10px 30px;
}